#paginaTransaccion{
	/*padding-left: 5%;
	padding-right: 5%;*/
	
}
.main-chart {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.btnNewObject {
	margin-top: -15px;
}
.main-chart {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.btnNewObject {
	margin-top: -15px;
}
.mb {
	margin-bottom: 25px;
}
